<!DOCTYPE html>
<html>
<head>
    <title>Jarvis AI</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <div class="chat-area" id="chat-box">
        <div class="bot">Hello Nikhil 👋 I am your Jarvis</div>
    </div>

    <div class="input-area">
        <textarea id="input" placeholder="Message Jarvis..." rows="1"></textarea>
        <button onclick="send()">➤</button>
    </div>

</div>

<script>
function send() {
    let input = document.getElementById("input");
    let msg = input.value;

    if (!msg) return;

    let chat = document.getElementById("chat-box");

    chat.innerHTML += `<div class="user">${msg}</div>`;

    fetch("/chat", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({message: msg})
    })
    .then(res => res.json())
    .then(data => {
        chat.innerHTML += `<div class="bot">${data.reply}</div>`;
        chat.scrollTop = chat.scrollHeight;
    });

    input.value = "";
}
// 🔥 ENTER KEY SUPPORT
document.getElementById("input").addEventListener("keydown", function(event) {
    if (event.key === "Enter" && !event.shiftKey) {
        event.preventDefault();
        send();
    }
});
</script>

</body>
</html>
